<h3>Scenario</h3>
<button ng-click="$ctrl.home()">Home</button>
<p>Steps: <span ng-bind="$ctrl.scenario.steps.length"></span></p>{{$ctrl.scenario.steps.length}} {{$ctrl.test}}

<div ng-repeat="step in $ctrl.scenario.steps" ng-click="$ctrl.viewStep(step)">
    <b>{{step.type}}</b> <span>{{step.targetSelector}}</span><br>
</div>
<ng-outlet></ng-outlet>